In [ ]:
# load dataset
# drop unnecessary columns
# Reshape/melt the DataFrame , where each row represents a combination of 'Name of Series', 'Year', and 'Value'.
#using pivot() function on df_transformed to pivot the data, setting 'Year' as the index,'Name of Series' as columns, and 'Value' as values.
#This reshapes the DataFrame so that each series ('Crop production', 'Livestock', 'Forestry', 'Fishing') has its own column with values across years.

In [1]:
import pandas as pd
import numpy as np
#load data 
df=pd.read_csv('Agriculture Anually( Crop Production, Livestock, Forestery, Fishing).csv')
df

,Mnemonic,Parent Mnemonic,Databank,Data Family,Data Source,Units of Measure,First Observation,Frequency,Name of Series,1981,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,NGRPA4,NGRPA1,REL,National accounts,National Bureau of Statistics,millions of naira,1981,A,1.3 Forestry,77897.99,...,161338.20,167258.41,171642.65,177326.97,182747.93,187474.87,190508.05,1.932243e+05,196357.19,199826.63
1,NGRPA3,NGRPA1,REL,National accounts,National Bureau of Statistics,millions of naira,1981,A,1.2 Livestock,341411.50,...,1086847.00,1151323.39,1185118.44,1204205.25,1208128.04,1210055.38,1233114.81,1.240215e+06,1247719.41,1140235.81
2,NGRPA2,NGRPA1,REL,National accounts,National Bureau of Statistics,millions of naira,1981,A,1.1 Crop production,1854764.44,...,13793450.01,14274936.74,14894447.82,15437049.70,15786437.68,16181992.98,16544520.56,1.692052e+07,17260752.41,17585429.09
3,NGRPA5,NGRPA1,REL,National accounts,National Bureau of Statistics,millions of naira,1981,A,1.4 Fishing,90299.23,...,338754.12,358701.61,356128.42,360913.36,366834.08,379060.48,380032.51,3.844509e+05,386243.80,380998.75

In [2]:
#drop uncessery columns
cols_drop=['Mnemonic','Parent Mnemonic','Databank','Data Family','Data Source','Units of Measure','First Observation','Frequency']
df=df.drop(cols_drop,axis =1)
df

,Name of Series,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1.3 Forestry,77897.99,73910.25,75282.78,76694.14,78082.45,86594.92,87594.28,88907.95,67307.31,...,161338.20,167258.41,171642.65,177326.97,182747.93,187474.87,190508.05,1.932243e+05,196357.19,199826.63
1,1.2 Livestock,341411.50,361115.70,393131.01,399685.38,428102.85,421627.97,433433.52,444269.94,453155.59,...,1086847.00,1151323.39,1185118.44,1204205.25,1208128.04,1210055.38,1233114.81,1.240215e+06,1247719.41,1140235.81
2,1.1 Crop production,1854764.44,1897078.85,1842704.31,1759115.15,2180907.71,2427100.66,2329995.84,2581595.05,2710674.81,...,13793450.01,14274936.74,14894447.82,15437049.70,15786437.68,16181992.98,16544520.56,1.692052e+07,17260752.41,17585429.09
3,1.4 Fishing,90299.23,93856.08,97963.82,68010.74,43969.46,51511.83,40648.69,59794.67,94809.39,...,338754.12,358701.61,356128.42,360913.36,366834.08,379060.48,380032.51,3.844509e+05,386243.80,380998.75

In [4]:
# Reshape/melt the DataFrame , where each row represents a combination of 'Name of Series', 'Year', and 'Value'.

df_transformed = df.melt(id_vars='Name of Series', var_name='Year', value_name='Value')
df_transformed

           Name of Series  Year        Value
0           1.3  Forestry  1981     77897.99
1          1.2  Livestock  1981    341411.50
2    1.1  Crop production  1981   1854764.44
3            1.4  Fishing  1981     90299.23
4           1.3  Forestry  1982     73910.25
..                    ...   ...          ...
167          1.4  Fishing  2022    386243.80
168         1.3  Forestry  2023    199826.63
169        1.2  Livestock  2023   1140235.81
170  1.1  Crop production  2023  17585429.09
171          1.4  Fishing  2023    380998.75

[172 rows x 3 columns]

In [5]:
# Pivot the DataFrame setting 'Year' as the index, 'Name of Series' as columns, and 'Value' as values.
#This reshapes the DataFrame so that each series ('Crop production', 'Livestock', 'Forestry', 'Fishing') 
#has its own column with values across years.
df=df_transformed.pivot(index='Year',columns='Name of Series',values='Value')
df.columns=['Crop production', 'Livestock', 'Forestry', 'Fishing']
df.reset_index()

    Year  Crop production    Livestock   Forestry    Fishing
0   1981       1854764.44   341411.500   77897.99   90299.23
1   1982       1897078.85   361115.700   73910.25   93856.08
2   1983       1842704.31   393131.010   75282.78   97963.82
3   1984       1759115.15   399685.380   76694.14   68010.74
4   1985       2180907.71   428102.850   78082.45   43969.46
5   1986       2427100.66   421627.970   86594.92   51511.83
6   1987       2329995.84   433433.520   87594.28   40648.69
7   1988       2581595.05   444269.940   88907.95   59794.67
8   1989       2710674.81   453155.590   67307.31   94809.39
9   1990       2828589.58   462218.990   72613.57  101294.12
10  1991       2955875.91   454823.210   74791.90  105346.41
11  1992       3044552.16   458916.790   76512.11   94811.77
12  1993       3132843.73   461670.560   78042.40   71109.13
13  1994       3226829.55   466287.560   80071.46   66486.88
14  1995       3336541.36   485872.070   81832.93   73135.57
15  1996       3462995.96   499962.450   82241.90   88347.90
16  1997       3611905.26   512461.130   82982.17   98331.07
17  1998       3752769.63   526297.840   83977.89  112196.02
18  1999       3949415.21   541034.010   85070.09  128124.37
19  2000       4067897.64   553478.210   86346.14  133249.20
20  2001       4222477.41   570082.860   88072.90  143908.93
21  2002       6977878.78   597498.380   88690.22  153017.10
22  2003       7493024.20   622559.310   90021.50  159227.10
23  2004       7956655.07   663025.910   95873.02  173019.40
24  2005       8524146.88   707871.010  101546.80  183426.85
25  2006       9162650.26   756734.190  107658.07  195432.46
26  2007       9826769.09   809164.940  114249.34  208285.76
27  2008      10437994.13   864188.160  121218.55  221970.14
28  2009      11046155.59   920199.220  128313.12  235657.62
29  2010      11683896.37   979564.050  135720.90  249711.48
30  2011      12017192.00   999404.040  142459.38  270323.35
31  2012      12919542.05   972762.790  146094.08  291306.71
32  2013      13247801.80  1030937.330  154314.17  317469.91
33  2014      13793450.01  1086847.000  161338.20  338754.12
34  2015      14274936.74  1151323.390  167258.41  358701.61
35  2016      14894447.82  1185118.440  171642.65  356128.42
36  2017      15437049.70  1204205.250  177326.97  360913.36
37  2018      15786437.68  1208128.040  182747.93  366834.08
38  2019      16181992.98  1210055.380  187474.87  379060.48
39  2020      16544520.56  1233114.810  190508.05  380032.51
40  2021      16920523.88  1240215.352  193224.32  384450.87
41  2022      17260752.41  1247719.410  196357.19  386243.80
42  2023      17585429.09  1140235.810  199826.63  380998.75

In [6]:
# save dataset to csv file
df.to_csv('Agriculture_Anually.csv')